<div class="ui inverted fixed menu">
  <div class="ui secondary pointing menu">
    <a class="item" routerLink="home">
      <img src="./../../assets/image/logo.jpg" alt="">
    </a>
    <a class="item" routerLink="home">
      <h2>Lagoon</h2>
    </a>
    <a class="item" routerLink="home">
      Home
    </a>
    <a *ngIf="loginService.checkLogin()" class="item" routerLink="my-album">
      My Album
    </a>
  </div>
  <div class="right menu">
    <a *ngIf="!loginService.checkLogin()" class="item" routerLink="register">
      Register
    </a>
    <a class="item" routerLink="login" (click)="onClick()">
      {{loginService.checkLogin()? 'Logout' : 'Login'}}
    </a>
  </div>
</div>